.text {
    width: 100%;
    text-align: left;
    padding: 60px 0 0 30px;

}
.text h1{
    font-size: 1.85rem;
    font-family: Roboto !important;
    font-weight: 500 !important;
    margin-bottom: 0.5em;
}
.text h3{
    font-size: 1.35rem;
    font-family: Roboto !important;
    font-weight: 500 !important;
}
